<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
"-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
"http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
<vendor>KDE</vendor>
<icon_name>kde</icon_name>
   <action id="org.kde.powerdevil.chargethresholdhelper.getconservationmode" >
      <description xml:lang="ar">تحقق من وضع الحفاظ على البطارية</description>
      <description xml:lang="be">Праверыць рэжым кансервацыі батарэі</description>
      <description xml:lang="bg">Проверка на режима за пестене на батерията</description>
      <description xml:lang="ca">Comprova el mode de conservació de la bateria</description>
      <description xml:lang="cs">Zkontrolovat režim šetření baterie</description>
      <description>Check battery conservation mode</description>
      <description xml:lang="en_GB">Check battery conservation mode</description>
      <description xml:lang="eo">Kontroli baterikonservan reĝimon</description>
      <description xml:lang="es">Comprobar el modo de conservación de la batería</description>
      <description xml:lang="eu">Egiaztatu bateriaren kontserbazio-modua</description>
      <description xml:lang="fr">Vérifier le mode d'économie d'énergie</description>
      <description xml:lang="gl">Comprobar o modo de conservación da batería</description>
      <description xml:lang="he">בדיקת מצב שימור סוללה</description>
      <description xml:lang="hu">Akkumulátorkíméló mód ellenőrzése</description>
      <description xml:lang="ia">Verifica le modo de conservation de batteria</description>
      <description xml:lang="is">Athuga sparnaðarsnið rafhlöðu</description>
      <description xml:lang="it">Controlla la modalità di risparmio della batteria</description>
      <description xml:lang="ka">ელემენტის შენახვის რეჟიმის შემოწმება</description>
      <description xml:lang="ko">배터리 절약 모드 확인</description>
      <description xml:lang="lt">Tikrinti akumuliatoriaus saugojimo veikseną</description>
      <description xml:lang="lv">Pārbaudīt baterijas konservācijas režīmu</description>
      <description xml:lang="nl">Conserveringsmodus van batterij controleren</description>
      <description xml:lang="nn">Kontroller batterisparemodus</description>
      <description xml:lang="pa">ਬੈਟਰੀ ਦੇ ਬੱਚਤ ਢੰਗ ਦੀ ਜਾਂਚ ਕਰੋ</description>
      <description xml:lang="pl">Odczytaj tryb zarządzania baterią</description>
      <description xml:lang="pt_BR">Verifique o modo de conservação da bateria</description>
      <description xml:lang="ru">Проверка режима сохранения заряда батареи</description>
      <description xml:lang="sk">Skontrolovať režim ochrany batérie</description>
      <description xml:lang="sl">Preverite način varčevanja z baterijo</description>
      <description xml:lang="sv">Kontrollera batteriets konserveringsläge</description>
      <description xml:lang="ta">மின்கல சேமிப்பு பயன்முறையின் நிலைகாண்</description>
      <description xml:lang="tr">Pil Tasarrufu Kipini Denetle</description>
      <description xml:lang="uk">Перевірка режиму консервації акумулятора</description>
      <description xml:lang="zh_CN">检查节电模式模式</description>
      <description xml:lang="zh_TW">查看電池保護模式</description>
      <message xml:lang="ar">استوثق للتحقق من الحالة الحالية لوضع الحفاظ على البطارية.</message>
      <message xml:lang="be"></message>
      <message xml:lang="bg"></message>
      <message xml:lang="ca">Autenticació per a comprovar l'estat actual del mode de conservació de la bateria.</message>
      <message xml:lang="cs">Ověřte totožnost abyste zjistili stav režimu šetření baterie.</message>
      <message>Authenticate to check the current state of battery conservation mode.</message>
      <message xml:lang="en_GB">Authenticate to check the current state of battery conservation mode.</message>
      <message xml:lang="eo">Aŭtentiĝu por kontroli la aktualan staton de bateriokonserva reĝimo.</message>
      <message xml:lang="es">Debe autenticarse para comprobar el estado actual del modo de conservación de la batería.</message>
      <message xml:lang="eu">Kautotu bateriaren kontserbazio-moduaren uneko egoera egiaztatzeko.</message>
      <message xml:lang="fr">S'authentifier pour vérifier l'état courant à la limite actuelle de charge de la batterie</message>
      <message xml:lang="gl">Autenticarse para comprobar o estado actual do modo de conservación da batería.</message>
      <message xml:lang="he">יש לעבור אימות כדי לבדוק את מה המצב הנוכחי של מצב שימור הסוללה.</message>
      <message xml:lang="hu">Hitelesítés szükséges az akkumulátorkímélő mód jelenlegi állapotának ellenőrzéséhez.</message>
      <message xml:lang="ia">Authentica per verificar le stato currente del modo de conservation de batteria.</message>
      <message xml:lang="is">Auðkenndu þig til að sjá núverandi sparnaðarsnið rafhlöðu.</message>
      <message xml:lang="it">Autenticati per controllare lo stato attuale della modalità di risparmio della batteria.</message>
      <message xml:lang="ka">გაიარეთ ავთენტიკაცია ელემენტის შენახვის მიმდინარე რეჟიმის მისაღებად.</message>
      <message xml:lang="ko">현재 배터리 절약 모드를 확인하려면 인증하십시오.</message>
      <message xml:lang="lt"></message>
      <message xml:lang="lv"></message>
      <message xml:lang="nl">Authenticeren om de huidige status van de conserveringsmodus van de batterij te controleren.</message>
      <message xml:lang="nn">Autentiser for å sjå innstillingar for batterisparemodus.</message>
      <message xml:lang="pa">ਬੈਟਰੀ ਦੇ ਬੱਚਤ ਢੰਗ ਦੀ ਮੌਜੂਦਾ ਹੱਦ ਵੇਖਣ ਲਈ ਪਰਮਾਣਿਤ ਕਰੋ।</message>
      <message xml:lang="pl"></message>
      <message xml:lang="pt_BR">Autentique primeiro para verificar o estado atual do modo de conservação da bateria.</message>
      <message xml:lang="ru">Аутентификация для проверки текущего состояния режима сохранения заряда батареи.</message>
      <message xml:lang="sk">Overenie totožnosti na zobrazenie aktuálneho režimu ochrany batérie.</message>
      <message xml:lang="sl"></message>
      <message xml:lang="sv">Ange behörighet för att se nuvarande tillstånd hos batteriets konserveringsläge.</message>
      <message xml:lang="ta">மின்கல சேமிப்பு பயன்முறையின் தற்போதைய நிலையைக் காண சான்றளிக்கவும்.</message>
      <message xml:lang="tr">Pil tasarrufu kipinin geçerli durumunu denetlemek için kimliğinizi doğrulayın.</message>
      <message xml:lang="uk">Пройдіть розпізнавання для перевірки поточного стану режиму консервації акумулятора.</message>
      <message xml:lang="zh_CN">进行身份验证以检查节电模式的当前状态。</message>
      <message xml:lang="zh_TW">認證以查看目前的電池保護模式。</message>
      <defaults>
         <allow_inactive>yes</allow_inactive>
         <allow_active>yes</allow_active>
      </defaults>
   </action>
   <action id="org.kde.powerdevil.chargethresholdhelper.getthreshold" >
      <description xml:lang="ar">احصل على حد شحن البطارية الحالي</description>
      <description xml:lang="az">Batareyanın dolması limitinin göstəricisini əldə etmək</description>
      <description xml:lang="be">Атрымаць бягучы ліміт узроўню зараду батарэі</description>
      <description xml:lang="bg">Извличане на текущия лимит на зареждане на батерията</description>
      <description xml:lang="ca">Obtén el límit actual de càrrega de la bateria</description>
      <description xml:lang="cs">Zjistit současný limit nabytí baterie</description>
      <description xml:lang="da">Hent batteriets aktuelle opladningsgrænse</description>
      <description xml:lang="de">Aktuellen maximalen Ladestand ermitteln</description>
      <description xml:lang="el">Ανακτήστε το τρέχον όριο φόρτισης της μπαταρίας</description>
      <description>Get current battery charge limit</description>
      <description xml:lang="en_GB">Get current battery charge limit</description>
      <description xml:lang="eo">Akiri la aktualan limon de baterioŝarĝo</description>
      <description xml:lang="es">Obtener el límite de carga de la batería actual</description>
      <description xml:lang="et">Praeguse aku laadimispiirangu hankimine</description>
      <description xml:lang="eu">Lortu bateria-kargaren uneko muga</description>
      <description xml:lang="fi">Lue akun nykyinen latausrajoitus</description>
      <description xml:lang="fr">Obtenir la limite courante de charge de la batterie</description>
      <description xml:lang="gl">Obter o límite actual de carga da batería</description>
      <description xml:lang="he">קבלת מגבלת הטעינה הנוכחית של הסוללה</description>
      <description xml:lang="hu">Töltési korlát lekérdezése</description>
      <description xml:lang="ia">Obtene le limite de carga del batteria</description>
      <description xml:lang="id">Dapatkan batas cas baterai saat ini</description>
      <description xml:lang="is">Fá núverandi hleðslumörk rafhlöðu</description>
      <description xml:lang="it">Leggi il limite di carica attuale della batteria</description>
      <description xml:lang="ka">ელემენტის დატენვის მიმდინარე ლიმიტის მიღება</description>
      <description xml:lang="ko">현재 배터리 충전 제한 가져오기</description>
      <description xml:lang="lt">Gauti dabartinę akumuliatoriaus įkrovos ribą</description>
      <description xml:lang="lv">Iegūt pašreizējo baterijas uzlādes līmeni</description>
      <description xml:lang="nl">De huidige limiet van de lading van batterij ophalen</description>
      <description xml:lang="nn">Hent ladegrense for batteriet</description>
      <description xml:lang="pa">ਮੌਜੂਦਾ ਬੈਟਰੀ ਚਾਰਜ ਹੱਦ ਲਵੋ</description>
      <description xml:lang="pl">Pobierz graniczną wartość ładunku bieżącej baterii</description>
      <description xml:lang="pt">Obter o limite de carga actual da bateria</description>
      <description xml:lang="pt_BR">Obter o limite de carga da bateria atual</description>
      <description xml:lang="ro">Obține limita actuală de încărcare a acumulatorului</description>
      <description xml:lang="ru">Получение текущего значения ограничения уровня заряда батареи</description>
      <description xml:lang="sk">Získať aktuálny limit nabíjania batérie</description>
      <description xml:lang="sl">Pridobi omejitev napolnjenosti trenutne baterije</description>
      <description xml:lang="sv">Hämta batteriets nuvarande laddningsbegränsning</description>
      <description xml:lang="ta">தற்போதைய மின்கல ஆற்றலேற்ற வரம்பை பெறு</description>
      <description xml:lang="tr">Geçerli Pil Şarj Sınırını Al</description>
      <description xml:lang="uk">Отримання поточного рівня обмеження на заряджання акумулятора</description>
      <description xml:lang="zh_CN">获取当前电池充电上限</description>
      <description xml:lang="zh_TW">取得目前電池充電限制</description>
      <message xml:lang="ar">الاستيثاق لرؤية حد شحن البطارية الحالي.</message>
      <message xml:lang="be"></message>
      <message xml:lang="bg"></message>
      <message xml:lang="ca">Autenticació per a veure el límit actual de càrrega de la bateria.</message>
      <message xml:lang="cs">Ověřte totožnost abyste zjistili současný limit nabytí baterie.</message>
      <message>Authenticate to see the current battery charge limit.</message>
      <message xml:lang="en_GB">Authenticate to see the current battery charge limit.</message>
      <message xml:lang="eo">Aŭtentiĝu por vidi la aktualan limon de baterioŝarĝo.</message>
      <message xml:lang="es">Debe autenticarse para ver el límite de carga de la batería actual.</message>
      <message xml:lang="eu">Kautotu bateria-kargaren uneko muga ikusteko.</message>
      <message xml:lang="fi">Tunnistaudu nähdäksesi nykyisen akun latausrajoituksen.</message>
      <message xml:lang="fr">S'authentifier pour accéder à la limite actuelle de charge de la batterie</message>
      <message xml:lang="gl">Autentíquese para ver o límite actual de carga da batería.</message>
      <message xml:lang="he">יש לעבור אימות כדי לצפות במגבלת טעינת הסוללה הנוכחית.</message>
      <message xml:lang="hu">Hitelesítés szükséges a jelenlegi akkumulátortöltöttségi korlát megtekintéséhez.</message>
      <message xml:lang="ia">Authentica per vider le limite currente de carga de batteria.</message>
      <message xml:lang="is">Auðkenndu þig til að sjá núverandi hleðslumörk rafhlöðu.</message>
      <message xml:lang="it">Autenticati per vedere il limite di carica attuale della batteria.</message>
      <message xml:lang="ka">გაიარეთ ავთენტიკაცია ელემენტის დატენვის მიმდინარე ლიმიტის მისაღებად.</message>
      <message xml:lang="ko">배터리 충전 제한을 표시하려면 인증하십시오.</message>
      <message xml:lang="lt"></message>
      <message xml:lang="lv"></message>
      <message xml:lang="nl">Authenticeren om de huidige oplaadlimiet van de batterij te zien.</message>
      <message xml:lang="nn">Autentiser for å sjå ladegrense for batteriet.</message>
      <message xml:lang="pa">ਮੌਜੂਦਾ ਬੈਟਰੀ ਚਾਰਜ ਹੱਦ ਵੇਖਣ ਲਈ ਪਰਮਾਣਿਤ ਕਰੋ।</message>
      <message xml:lang="pl"></message>
      <message xml:lang="pt_BR">Autentique primeiro para obter o limite de carga da bateria atual</message>
      <message xml:lang="ro">Autentificați-vă pentru a vedea limita actuală de încărcare a acumulatorului.</message>
      <message xml:lang="ru">Аутентификация для получения текущего значения ограничения уровня заряда батареи.</message>
      <message xml:lang="sk">Overenie totožnosti na zobrazenie aktuálneho limitu nabíjanie batérie.</message>
      <message xml:lang="sl"></message>
      <message xml:lang="sv">Ange behörighet för att se batteriets nuvarande laddningsbegränsning.</message>
      <message xml:lang="ta">தற்போதைய மின்கல ஆற்றலேற்ற வரம்பைக் காண சான்றளிக்கவும்.</message>
      <message xml:lang="tr">Geçerli pil şarj sınırını görmek için kimliğinizi doğrulayın.</message>
      <message xml:lang="uk">Пройдіть розпізнавання для перегляду поточного рівня заряду акумулятора.</message>
      <message xml:lang="zh_CN">请进行身份验证以查看当前电池充电限制。</message>
      <message xml:lang="zh_TW">認證以檢視目前電池充電限制。</message>
      <defaults>
         <allow_inactive>yes</allow_inactive>
         <allow_active>yes</allow_active>
      </defaults>
   </action>
   <action id="org.kde.powerdevil.chargethresholdhelper.setconservationmode" >
      <description xml:lang="ar">عيّن وضع الحفاظ على البطارية</description>
      <description xml:lang="be">Вызначыць рэжым кансервацыі батарэі</description>
      <description xml:lang="bg">Задаване на режим за пестене на батерията</description>
      <description xml:lang="ca">Estableix el mode de conservació de la bateria</description>
      <description xml:lang="cs">Nastavte režim šetření baterie</description>
      <description>Set battery conservation mode</description>
      <description xml:lang="en_GB">Set battery conservation mode</description>
      <description xml:lang="eo">Agordi baterikonservan reĝimon</description>
      <description xml:lang="es">Definir el modo de conservación de la batería</description>
      <description xml:lang="eu">Ezarri bateriaren kontserbazio-modua</description>
      <description xml:lang="fr">Définir le mode d'économie de la batterie</description>
      <description xml:lang="gl">Definir o modo de conservación da batería</description>
      <description xml:lang="he">הגדרת מצב שימור סוללה</description>
      <description xml:lang="hu">Akkumulátorkímélő mód beállítása</description>
      <description xml:lang="ia">Fixa le modo de conservation del batteria</description>
      <description xml:lang="is">Stilla sparnaðarsnið rafhlöðu</description>
      <description xml:lang="it">Imposta la modalità di risparmio della batteria</description>
      <description xml:lang="ka">ელემენტის შენახვის რეჟიმის დაყენება</description>
      <description xml:lang="ko">배터리 절약 모드 설정</description>
      <description xml:lang="lt">Nustatyti akumuliatoriaus saugojimo veikseną</description>
      <description xml:lang="lv">Iestatīt baterijas konservācijas režīmu</description>
      <description xml:lang="nl">De conserveringsmodus van de batterij instellen</description>
      <description xml:lang="nn">Vel batterisparemodus</description>
      <description xml:lang="pa">ਬੈਟਰੀ ਬੱਚਤ ਢੰਗ ਸੈੱਟ ਕਰੋ</description>
      <description xml:lang="pl">Ustaw tryb zarządzania baterią</description>
      <description xml:lang="pt_BR">Definir modo de conservação da bateria</description>
      <description xml:lang="ru">Установка режима сохранения заряда батареи</description>
      <description xml:lang="sk">Nastaviť režim ochrany batérie</description>
      <description xml:lang="sl">Nastavi način varčevanja baterije</description>
      <description xml:lang="sv">Ställ in batteriets konserveringsläge</description>
      <description xml:lang="ta">மின்கல சேமிப்பு பயன்முறையை அமை</description>
      <description xml:lang="tr">Pil Tasarrufu Kipini Ayarla</description>
      <description xml:lang="uk">Встановлення режиму консервації акумулятора</description>
      <description xml:lang="zh_CN">设置节电模式</description>
      <description xml:lang="zh_TW">設定電池保護模式</description>
      <message xml:lang="ar">استوثق لتعيين وضع الحفاظ على البطارية.</message>
      <message xml:lang="be"></message>
      <message xml:lang="bg"></message>
      <message xml:lang="ca">Autenticació per a establir el mode de conservació de la bateria.</message>
      <message xml:lang="cs">Ověřte totožnost pro nastavení režimu šetření baterie.</message>
      <message>Authenticate to set the battery conservation mode.</message>
      <message xml:lang="en_GB">Authenticate to set the battery conservation mode.</message>
      <message xml:lang="eo">Aŭtentiĝu por meti la bateriokonservan reĝimon.</message>
      <message xml:lang="es">Debe autenticarse para definir el modo de conservación de la batería.</message>
      <message xml:lang="eu">Kautotu bateriaren kontserbazio-modua ezartzeko.</message>
      <message xml:lang="fr">S'authentifier pour définir l'état d'économie de la batterie</message>
      <message xml:lang="gl">Autenticarse para definir o modo de conservación da batería.</message>
      <message xml:lang="he">יש לעבור אימות כדי להגדיר את מצב שימור הסוללה.</message>
      <message xml:lang="hu">Hitelesítés szükséges az akkumulátorkímélő mód beállításához.</message>
      <message xml:lang="ia">Authentica per fixar le modo de conservation de batteria.</message>
      <message xml:lang="is">Auðkenndu þig til að stilla sparnaðarsnið rafhlöðu.</message>
      <message xml:lang="it">Autenticati per impostare la modalità di risparmio della batteria.</message>
      <message xml:lang="ka">გაიარეთ ავთენტიკაცია ელემენტის შენახვის დონის დასაყენებლად.</message>
      <message xml:lang="ko">배터리 절약 모드를 설정하려면 인증하십시오.</message>
      <message xml:lang="lt"></message>
      <message xml:lang="lv"></message>
      <message xml:lang="nl">Authenticeren om de conserveringsmodus van de batterij in te stellen.</message>
      <message xml:lang="nn">Autentiser for å velja batterisparemodus</message>
      <message xml:lang="pa">ਬੈਟਰੀ ਦੇ ਬੱਚਤ ਢੰਗ ਨੂੰ ਸੈੱਟ ਕਰਨ ਲਈ ਪਰਮਾਣਿਤ ਕਰੋ।</message>
      <message xml:lang="pl"></message>
      <message xml:lang="pt_BR">Autentique primeiro para definir o modo de conservação da bateria.</message>
      <message xml:lang="ru">Аутентификация для установки режима сохранения заряда батареи.</message>
      <message xml:lang="sk">Overenie totožnosti na nastavenie režimu ochrany batérie.</message>
      <message xml:lang="sl"></message>
      <message xml:lang="sv">Ange behörighet för att ställa in batteriets konserveringsläge.</message>
      <message xml:lang="ta">மின்கல சேமிப்பு பயன்முறையை அமைக்க சான்றளிக்கவும்.</message>
      <message xml:lang="tr">Pil tasarrufu kipini ayarlamak için kimliğinizi doğrulayın.</message>
      <message xml:lang="uk">Пройдіть розпізнавання для встановлення режиму консервації акумулятора.</message>
      <message xml:lang="zh_CN">进行身份验证以设置节电模式。</message>
      <message xml:lang="zh_TW">認證以設定電池保護模式。</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin_keep</allow_active>
      </defaults>
   </action>
   <action id="org.kde.powerdevil.chargethresholdhelper.setthreshold" >
      <description xml:lang="ar">ضع حداً لشحن البطارية</description>
      <description xml:lang="az">Batareyanın dolması limitini təyin etmək</description>
      <description xml:lang="be">Вызначыць ліміт узроўню зараду батарэі</description>
      <description xml:lang="bg">Задаване на текущия лимит на зареждане на батерията</description>
      <description xml:lang="ca">Estableix el límit actual de càrrega de la bateria</description>
      <description xml:lang="cs">Nastavit limit nabíjení baterie</description>
      <description xml:lang="da">Angiv batteriets opladningsgrænse</description>
      <description xml:lang="de">Maximalen Ladestand einstellen</description>
      <description xml:lang="el">Ρύθμιση του ορίου φόρτισης της μπαταρίας</description>
      <description>Set battery charge limit</description>
      <description xml:lang="en_GB">Set battery charge limit</description>
      <description xml:lang="eo">Agordi la limon de ŝarĝo de la baterioj</description>
      <description xml:lang="es">Definir el límite de carga de la batería</description>
      <description xml:lang="et">Aku laadimispiirangu määramine</description>
      <description xml:lang="eu">Ezarri bateria-kargaren muga</description>
      <description xml:lang="fi">Aseta akun latausrajoitus</description>
      <description xml:lang="fr">Définir la limite de charge de la batterie</description>
      <description xml:lang="gl">Definir o límite de carga da batería</description>
      <description xml:lang="he">הגדרת הגבלת טעינת סוללה</description>
      <description xml:lang="hu">Töltési korlát beállítása</description>
      <description xml:lang="ia">Fixa le limite de carga del batteria</description>
      <description xml:lang="id">Atur batas pengisian baterai</description>
      <description xml:lang="is">Stilla hleðslumörk rafhlöðu</description>
      <description xml:lang="it">Imposta un limite di carica della batteria</description>
      <description xml:lang="ka">ელემენტის დატენვის მიმდინარე ლიმიტის დაყენება</description>
      <description xml:lang="ko">배터리 충전 제한 설정</description>
      <description xml:lang="lt">Nustatyti akumuliatoriaus įkrovos ribą</description>
      <description xml:lang="lv">Iestatīt baterijas uzlādes ierobežojumu</description>
      <description xml:lang="nl">De ladingslimiet van de batterij instellen</description>
      <description xml:lang="nn">Definer ladegrense for batteri</description>
      <description xml:lang="pa">ਬੈਟਰੀ ਚਾਰਜ ਹੱਦ ਸੈਟ ਕਰੋ</description>
      <description xml:lang="pl">Ustaw graniczną wartość ładunku baterii</description>
      <description xml:lang="pt">Modificar o limite de carga da bateria</description>
      <description xml:lang="pt_BR">Definir o limite de carga da bateria</description>
      <description xml:lang="ro">Stabilește limita de încărcare a acumulatorului</description>
      <description xml:lang="ru">Установка значения ограничения уровня заряда батареи</description>
      <description xml:lang="sk">Nastaviť aktuálny limit nabíjania batérie</description>
      <description xml:lang="sl">Nastavi omejitev napolnjenosti baterije</description>
      <description xml:lang="sv">Ställ in batteriets laddningsbegränsning</description>
      <description xml:lang="ta">மின்கலம் ஆற்றலேற்ற வரம்பை அமை</description>
      <description xml:lang="tr">Pil Şarj Sınırı Ayarla</description>
      <description xml:lang="uk">Встановлення рівня обмеження на заряджання акумулятора</description>
      <description xml:lang="zh_CN">设置电池充电上限</description>
      <description xml:lang="zh_TW">設定電池充電限制</description>
      <message xml:lang="ar">الاستيثاق لتعيين حد شحن البطارية.</message>
      <message xml:lang="be"></message>
      <message xml:lang="bg"></message>
      <message xml:lang="ca">Autenticació per a establir el límit de càrrega de la bateria.</message>
      <message xml:lang="cs">Ověřte totožnost abyste nastavili limit nabytí baterie.</message>
      <message>Authenticate to set the battery charge limit.</message>
      <message xml:lang="en_GB">Authenticate to set the battery charge limit.</message>
      <message xml:lang="eo">Aŭtentiĝu por meti la aktualan limon de baterioŝarĝo.</message>
      <message xml:lang="es">Debe autenticarse para definir el límite de carga de la batería.</message>
      <message xml:lang="eu">Kautotu bateria-kargaren muga ezartzeko.</message>
      <message xml:lang="fi">Tunnistaudu asettaaksesi akun latausrajoituksen.</message>
      <message xml:lang="fr">S'authentifier pour définir la limite actuelle de charge de la batterie</message>
      <message xml:lang="gl">Autentíquese para definir o límite de carga da batería.</message>
      <message xml:lang="he">יש לעבור אימות כדי להגדיר את מגבלת טעינת הסוללה.</message>
      <message xml:lang="hu">Hitelesítés szükséges az akkumulátortöltési korlát beállításához.</message>
      <message xml:lang="ia">Authentica per fixar le limite de carga de batteria.</message>
      <message xml:lang="is">Auðkenndu þig til að stilla hleðslumörk rafhlöðu.</message>
      <message xml:lang="it">Autenticati per impostare il limite di carica della batteria.</message>
      <message xml:lang="ka">გაიარეთ ავთენტიკაცია ელემენტის დატენვის ლიმიტის დასაყენებლად.</message>
      <message xml:lang="ko">배터리 충전 제한을 설정하려면 인증하십시오.</message>
      <message xml:lang="lt"></message>
      <message xml:lang="lv"></message>
      <message xml:lang="nl">Authenticeren om de huidige oplaadlimiet van de batterij in te stellen.</message>
      <message xml:lang="nn">Autentiser for å definera ladegrense for batteriet.</message>
      <message xml:lang="pa">ਮੌਜੂਦਾ ਬੈਟਰੀ ਚਾਰਜ ਸੈੱਟ ਕਰਨ ਲਈ ਪਰਮਾਣਿਤ ਕਰੋ।</message>
      <message xml:lang="pl"></message>
      <message xml:lang="pt_BR">Autentique primeiro para definir o limite de carga da bateria atual</message>
      <message xml:lang="ro">Autentificați-vă pentru a stabili limita de încărcare a acumulatorului.</message>
      <message xml:lang="ru">Аутентификация для установки значения ограничения уровня заряда батареи.</message>
      <message xml:lang="sk">Overenie totožnosti na nastavenie limitu nabíjania batérie.</message>
      <message xml:lang="sl"></message>
      <message xml:lang="sv">Ange behörighet för att ställa in batteriets laddningsbegränsning.</message>
      <message xml:lang="ta">மின்கல ஆற்றலேற்ற வரம்பை அமைக்க சான்றளிக்கவும்.</message>
      <message xml:lang="tr">Pil şarj sınırını ayarlamak için kimliğinizi doğrulayın.</message>
      <message xml:lang="uk">Пройдіть розпізнавання для встановлення обмеження рівня заряду акумулятора.</message>
      <message xml:lang="zh_CN">请进行身份验证以设置电池充电限制。</message>
      <message xml:lang="zh_TW">認證以設定電池充電限制。</message>
      <defaults>
         <allow_inactive>no</allow_inactive>
         <allow_active>auth_admin_keep</allow_active>
      </defaults>
   </action>
</policyconfig>
