
Homepage="https://community.kde.org/Frameworks"
        #|--------------------------------------|#
SortDesc="Configuration system"
LongDesc="Configuration system"
VERSION=5.116.0
PRGNAM=kconfig5
SRCNAM=kconfig
SRCURL=https://download.kde.org/stable/frameworks/5.116/kconfig-5.116.0.tar.xz
COMPRESS=tar.xz

REQUIRED="doxygen	extra-cmake-modules	"
OPTDEPS=

BUILD=${BUILD:-1}


# This must be always here even if not patches needed.
patch_build() {
if [ -e $CWD/patches/ ]; then
  for PATCH in $CWD/patches/*.patch; do
    patch -p1 -i $PATCH
  done
fi
}


slackbuild() {
cmake -B build -G Ninja \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DCMAKE_INSTALL_DOCDIR=/usr/doc \
		-DCMAKE_INSTALL_MANDIR=/usr/man \
		-DCMAKE_INSTALL_LIBDIR=lib64 \
		-DKDE_INSTALL_LIBEXECDIR=libexec \
		-DBUILD_QCH=ON
	cmake --build build
	DESTDIR="$PKG" cmake --install build
}
